body {
    background-color: #dffed2;
}
.grid {
    width:600px;
    height:500px;
    margin:0 auto;
    background-color: #ffffff;
    padding:10px 50px 50px 50px;
    border-radius: 30px;
    border:2px solid #7aa83d;
    box-shadow: -10px 10px 5px #cbcbcb;
}
h1 {
    font-family: sans-serif;
    background-color: #7aa83d;
    font-size: 60px;
    text-align: center;
    color:  #ffffff;
    padding:2px 0px;
    border-radius: 20px;
}
h3{
    position: relative;
    top: 50px;
}
#question{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: #8fc648;
}
.buttons{
    margin-top: 30px;
}
#btn0,#btn1,#btn2,#btn3{
    background-color: #8fc648;
    width:250px;
    font-size:25px;
    color:#ffffff;
    border:1px solid #7aa83d;
    border-radius: 15px;
    margin: 10px 40px 10px 0;
    padding:10px 10px;
}
#btnTry{
    background-color: #dffed2;
    width:150px;
    font-size:20px;
    font-weight:bold;
    color:#8fc648;
    border:1px solid #7aa83d;
    border-radius: 15px;
    margin: 10px 40px 10px 0;
    padding:10px 10px;
}
#btn0:hover,#btn1:hover,#btn2:hover,#btn3:hover{
    cursor: pointer;
    background-color: #7aa83d;
}
#progress{
    color: #2b2b2b;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}
#score{
    color: #5a6772;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}
#com{
    color: #e74c3c;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
video{
    height: 150px;
    position: relative;
    top: 50px;
    left: 195px;
}
